:root {
    --primary-color: #1a1a1a; /* Cinza chumbo quase preto para o menu superior */
    --background-color: #000000; /* Preto para o fundo do site */
    --text-color: #ffffff; /* Branco para o texto */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--primary-color);
}

.navbar-brand, .nav-link {
    color: var(--text-color) !important;
}

.nav-link:hover {
    color: #e74c3c !important; /* Mantendo a cor de destaque ao passar o mouse */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-weight: bold; /* Títulos em negrito */
}

.container {
    background-color: var(--background-color);
}

/* Ajuste para melhorar a legibilidade do texto em fundo preto */
p, li {
    line-height: 1.6;
}
